@model CharcoalCompanion.Models.Plans.PlanDetail

@{
    ViewBag.Title = "Plan Details";
}

<h2>Plan Details</h2>

<div>
    <p>Check out the details of this Plan!</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlanId)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlanId)
        </dd>

        @if (Model.Title != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepOne)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepOne.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepTwo)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepTwo.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepThree)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepThree.Name)
        </dd>

    </dl>
</div>
<div class="row">
    <p class="col">
        @Html.ActionLink("Edit", "Edit", new { id = Model.PlanId }, new { @class = "btn btn-secondary" })
    </p>
    <p class="col my-auto text-right">
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-sm btn-secondary" })
    </p>
</div>