<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Charcoal Companion", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="nav navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Steps", "Index", "Step", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Plans", "Index", "Plan", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Recipes", "Index", "Recipe", null, new { @class = "nav-link" })</li>
                    }
                    <li class="nav-item dropdown">
                        @Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link dropdown-toggle", id = "navbarDropdownMenuLink", data_toggle = "dropdown", aria_haspopup = "true", aria_expanded = "false" })
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("About", "About", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "dropdown-item" })
                            <a class="dropdown-item" href="https://abramepithey.github.io">More Projects</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content pt-3">
        @RenderBody()
        <hr />
        <footer class="text-right">
            <p>&copy; @DateTime.Now.Year - Charcoal Champion</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
