@model CharcoalCompanion.Models.Steps.StepCreate

@{
    ViewBag.Title = "Create Step";
}

<h2>Create a Step</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p>Enter in the details to a step so that you can use it in your next Plan!</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group form-row">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-row">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control form-control-full", rows = "5" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-row">
            @Html.LabelFor(model => model.FinalPageDetail, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.FinalPageDetail, new { @class = "form-control form-control-full", rows = "5" })
                @Html.ValidationMessageFor(model => model.FinalPageDetail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-row">
            @Html.LabelFor(model => model.ImageLink, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control", aria_describedby = "linkHelp" } })
                <small id="linkHelp" class="form-text text-muted">Leave empty if you do not have a link yet, you can add one later</small>
                @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-row">
            @Html.LabelFor(model => model.StepType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @foreach (var type in Enum.GetValues(typeof(CharcoalCompanion.Data.Steps.StepTypes)))
                {
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.StepType, type, new { @class = "form-check-input", id = type })
                        @Html.Label(type.ToString(), new { @class = "form-check-label", @for = type })
                    </div>
                }
                @Html.ValidationMessageFor(model => model.StepType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-row">
            <div class="offset-md-2 col">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col my-auto text-right">
                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-sm btn-secondary"})
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
