@model CharcoalCompanion.Models.Steps.StepDetail

@{
    ViewBag.Title = "Step Details";
}

<h2>Details</h2>

<div>
    <p>Check out the details of this Step!</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepId)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageLink)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepType)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StepId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
