@model IEnumerable<CharcoalCompanion.Models.Steps.StepListItem>

@{
    ViewBag.Title = "Steps";
    var meats = Model.Where(step => step.StepType == CharcoalCompanion.Data.Steps.StepTypes.Meat);
    var cuts = Model.Where(step => step.StepType == CharcoalCompanion.Data.Steps.StepTypes.Cut);
    var charcoalSetups = Model.Where(step => step.StepType == CharcoalCompanion.Data.Steps.StepTypes.CharcoalSetup);
}

<h2>Step List</h2>

<p>
    @Html.ActionLink("Create a Step", "Create", "", new { @class = "btn btn-primary" })
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
else if (TempData.ContainsKey("NoResult"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["NoResult"]
    </div>
}
<hr />
<h4 class="mb-0">Meats</h4>

<div class="row">
    @foreach (var item in meats)
    {
        if (item.ImageLink != null)
        {
            <div class="col-lg-4 col-sm-6 my-3 hoverContainer">
                <div class="image">
                    <img src="@Url.Content(item.ImageLink)" class="img img-responsive full-width" alt="@Html.DisplayFor(modelItem => item.ImageLink)">
                </div>
                <div class="card-body text-center projectText">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Details", "Details", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-sm-6 my-3">
                <div class="image missingImageBackground"></div>
                <div class="card-body text-center projectVisibleText">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Details", "Details", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        }
    }
</div>
<hr class="mt-0" />
<h4 class="mb-0">Cuts</h4>

<div class="row">
    @foreach (var item in cuts)
    {
        if (item.ImageLink != null)
        {
            <div class="col-lg-4 col-sm-6 my-3 hoverContainer">
                <div class="image">
                    <img src="@Url.Content(item.ImageLink)" class="img img-responsive full-width" alt="@Html.DisplayFor(modelItem => item.ImageLink)">
                </div>
                <div class="card-body text-center projectText">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Details", "Details", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-sm-6 my-3">
                <div class="image missingImageBackground"></div>
                <div class="card-body text-center projectVisibleText">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Details", "Details", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        }
    }
</div>
<hr class="mt-0" />
<h4 class="mb-0">Charcoal Setups</h4>

<div class="row">
    @foreach (var item in charcoalSetups)
    {
        if (item.ImageLink != null)
        {
            <div class="col-lg-4 col-sm-6 my-3 hoverContainer">
                <div class="image">
                    <img src="@Url.Content(item.ImageLink)" class="img img-responsive full-width" alt="@Html.DisplayFor(modelItem => item.ImageLink)">
                </div>
                <div class="card-body text-center projectText">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Details", "Details", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-sm-6 my-3 hoverContainer">
                <div class="image missingImageBackground"></div>
                <div class="card-body text-center projectVisibleText">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Details", "Details", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StepId }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        }
    }
</div>
